#image_1{
  position:fixed;
  margin-left:12%;
  margin-top:-27%;
  height:23%;
  width:auto;	
  border-radius:50%;
}

#image_2{
  position:fixed;
  margin-left:44%;
  margin-top:-27%;
  height:23%;
  width:auto;	
  border-radius:50%;
}

#image_3{
  position:fixed;
  margin-left:76%;
  margin-top:-27%;
  height:23%;
  width:auto;	
  border-radius:50%;
 }



