
.board{
    background-repeat: no-repeat;  background-size: 100% 100%;
}

.board img:hover{
  border-color: red;  
}

#greeting{
  position:fixed;
  margin-left:10%;
  margin-top:-12%;
    
}

#shopping{
  position:fixed;
  margin-left:50%;
  margin-top:10%;  
}

#colours{
  position:fixed;
  margin-left:60%;
  margin-top:-100px;  
}

#weather{
    margin-top:70px; 
    position:fixed;
    margin-left:10%;
  
}

.title{
    position: absolute;
    top: 23%;
    left: 41%;
    font-size: 72px;
    font-family: Papyrus;
}